/MsgAction.class
/MsgDirection.class
/MsgLocation.class
/MsgObject.class
/Snippet.class
/Timer.class
/DoorTransfers.class
/DoorTransfers$Doors.class
/Doors.class
/TileFullLocation.class
/TileConnections.class
